
<div class="login">
    <form action="/register" method="post">
        <% if (msg.length !== 0) { %>
            <div class="alert danger">
               <p><%= msg %> </p>
            </div>
           <% } %>
        <h1>Register</h1>
        <p>Join us and get the benefits!</p>
        <button class="google-signin-btn">
            <img style="margin-right: 1rem;" width="25px" src="https://img.icons8.com/color/48/000000/google-logo.png"/>
            Sign up with Google
        </button>
        <div class="signin__email">
            <div class="line"></div>
            <p style="margin: 0 17px;color: #b5b4bd;">or Sign up with Email</p>
            
            <div class="line"></div>
        </div>
        <label class="auth" for="email">Email*</label>
        <input class="auth" type="text" id="email" name="email" required>
        <label class="auth" for="pass">Password*</label>
        <input class="auth" type="password" id="pass" name="pass" required>
        <label class="auth" for="username">Username*</label>
        <input class="auth" type="text" id="username" name="username" required>
        
        <button class="btn-login" type="submit">Register</button>
        <p>Already have an Account? <a href="/login">Log in</a></p>

    </form>
</div>